


/* 01. My Work  */


.zapano {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
	grid-gap: 1.5em;
}

.zapano a > img {
	border-radius: .3em;
}


/* 02. Affiliate logos */

.affiliate img {
	width: 150px;
}

.affiliate .aaw img {
	width: 130px;
}

.affiliate .kaza img {
	width: 90px;
}

.affiliate .yanobe img {
	width: 70px;
}

@media only screen and (max-width: 600px) {
  .greetings h1{
    font-size: 2em;
  }

  .greetings p {
  	font-size: .8em !important;
  }
}