


/* 01. My Work  */


@font-face {
	font-family: 'DM Sans';
	src:url('../fonts/DMSans/DMSans-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}


.zapano {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
	grid-gap: 1.5em;
}

.zapano a > img {
	border-radius: .3em;
}

.iconz {
	display: none;
}


/* 02. Affiliate logos */

.affiliate img {
	width: 150px;
}

.affiliate .aaw img {
	width: 130px;
}

.affiliate .kaza img {
	width: 90px;
}

.affiliate .picc img {
	width: 80px;
}

@media only screen and (max-width: 600px) {
  .greetings h1{
    font-size: 2em;
  }

  .greetings p {
  	font-size: .8em !important;
  }
}