

/* 00. Add fonts  */

@font-face {
	font-family: "Staatliches";
	src: url("../fnts/Staatliches-Regular.ttf");
}

@font-face {
	font-family: "InstrumentSans";
	src: url("InstrumentSans-Regular.otf") format("opentype");
}

/* 01. General */

