

/* 00. Add fonts  */

@font-face {
	font-family: "Staatliches";
	src: url("../fnts/Staatliches-Regular.ttf");
}

@font-face {
	font-family: "InstrumentSans";
	src: url("../fnts/InstrumentSans-Regular.ttf") format("opentype");
}

/* 01. General */

body {
	font-family: "InstrumentSans";
}


h1 {
	font-family: "Staatliches";
	font-size: 3em;
	margin: 0;
	padding: 0;
	line-height: 1.125em;
}
