body {
    font-family: 'Bricolage Grotesque', 'Wanted Sans','DM Sans',sans-serif;
    font-size: 14px;
}

/*
----------------------------
        COMING SOON
----------------------------
*/

.hero {
    height: 300px !important;
    text-align: center;
}

.footer {
    padding:;
}

/*
----------------------------
        COMING SOON
----------------------------
*/


.section {
    padding: 4rem 1.5rem;
}
.title {
    font-size: 2.5rem;
    font-weight: 700;
}
.subtitle {
    font-size: 1.15rem;
    color: #666;
}
.box {
    transition: transform 0.3s ease-in-out;
}
.box:hover {
    transform: scale(1.05);
}
.video-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
}
.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.designs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.design-card {
    margin: 1rem;
    width: calc(33% - 2rem);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}
.design-card:hover {
    transform: scale(1.05);
}
.design-card img {
    width: 100%;
    height: auto;
}
.design-card .card-content {
    padding: 1rem;
}
.design-card .title {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}
.design-card .subtitle {
    font-size: 1rem;
    color: #666;
}
.social-icons {
    margin-top: 2rem;
}
.social-icons a {
    margin: 0 0.5rem;
    font-size: 1.5rem;
    color: #333;
}
.social-icons a:hover {
    color: #00d1b2;
}